<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>News Bud | Customizable News Reader</title>
</head>

<body>



	<section class="hero">
		<div class="background-image" style="background-image: url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/BM7v66yPgiy63nmmx/news-19-broadcast-tv-studio-green-screen-background-loopable_hjgiuhleyx_thumbnail-full01.png);"></div>
		<h1>News Bud</h1>
		<h3>A fully customizable news reader</h3>
		<a href="#" class="btn">Get Started</a>
	</section>





	<section class="features">
		<h3 class="title">Features and services</h3>

		<hr>

		<ul class="grid">
			<li class="user-features">
				<i class="fa fa-pencil"></i>
				<h4>Customizable</h4>
				<p>News Bud brings you a fantastic user experience that is 100% customizable. You get to choose what news you read, and how you read it. The only bias is yours.</p>
			</li>
			<li class="user-features">
				<i class="fa fa-cubes"></i>
				<h4>User Friendly</h4>
				<p>Our product is designed for the user. We keep our styling up to date, and nice to look at. You won't have to worry about outdated pages at News Bud.</p>
			</li>
			<li class="user-features">
				<i class="fa fa-newspaper-o"></i>
				<h4>Read Your Favorites</h4>
				<p>At News Bud, you can choose what news websites you want to read news from. Not only that, but you can also choose which category you want to read.</p>
			</li>
		</div>
    <div class="instructions">
      <h3>Instructions</h3>
      <p>To get started just click the sign up button at the top right of the screen. Once you have made an account select all the news sources you want to read. After that is done, go to the feeed page and read all your favorite news sources and articles. Want to save an article for later use? Just click the save button beside each headline. Then go to your profile and view all your saved articles.</p>
    </div>



    <div class="contact">
    		<h3 class="title">Join our newsletter</h3>
    		<p>At News Bud we don't like spam. We only send you valuable information that we think you need. We also make it easy to unsubscribe from all emails. No tricks or games.</p>
    		<hr>

    		<form>
    			<input type="email" placeholder="Email">
    			<a href="#" class="btn">Subscribe now</a>
    		</form>
    	</div>





	</section>






	<footer>
		<ul>
			<li><a href="https://www.linkedin.com/in/leviperry"><i class="fa fa-linkedin-square"></i></a></li>
			<li><a href="https://github.com/lperry34"><i class="fa fa-github-square"></i></a></li>
		</ul>
		<p>This is a student project made by Levi Perry at General Assembly</p>
	</footer>

</body>

</html>
