<header id="home" class="home home-main-content">
            <div class="overlay sections">
                <div class="container text-center">
                    <div class="row">



                        <div class="home-wrapper">
                            <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
                                <div class="home-content">
                                  <div class="profile-pic">
                                      <img class="beth" height="200" src="https://cdn0.iconfinder.com/data/icons/avatars-3/512/avatar_hipster_guy-512.png">
                                    </div>
                                    <h1 class="main-head-title"><%= @user %></h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- Sections -->
        <section id="about" class="sections3">
            <div class="container">
                <!-- Example row of columns -->
                <div class="row">
                  <% @articles.each do |article| %>
                    <li class="saved-articles"><strong><%= link_to article.title, article.link %> </strong></li>
                  <%end%>
                </div>
            </div> <!-- /container -->
        </section>
