
.signup{
  text-align: center;
  margin-top: 10%;
}

.email{
  padding: 1%;
  width: 25%;
  margin: 2px;

}

.password{
  padding: 1%;
  width: 25%;
  margin: 2px;

}

.name{
  padding: 1%;
  width: 25%;
  margin: 2px;
}

.button{
  margin-top: 1%;
  background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }


  .profile-pic{
  text-align: center;

}

.beth{
  border-radius: 100%;
}

.info{
  text-align: center;
  margin-top: 1%;
}
.profile{

        width: 80%;
        margin: 0 auto;
        text-align: center;
        margin-top: 10%;
}
.log{
  color:white;
}

.saved{
  text-align: center;
}


.main-head-title {
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 300;
    text-align: center;
}

.sections {
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
    overflow: hidden;
}


.overlay {
    width: 100%;
    overflow:hidden;
    min-height:800px;
}

/*For Our Global Section*/
.heading-content{
    margin-bottom: 4rem;
}
.heading-content h3{
    font-size:40px;
    font-family: "Raleway Webfont";
    font-weight:700;
    letter-spacing:3px;
}


.home{
    background: url(http://wallpaper.pickywallpapers.com/1920x1080/subtle-floristic-pattern.jpg) no-repeat center top fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    width: 100%;
    overflow: hidden;
}

.home-wrapper{
    color:#fff;
}
.home-content h1{
    text-transform:uppercase;
    color:#fff;
    font-family: "Raleway Webfont";
    letter-spacing:12px;
    border-top:2px solid #ecf0f2;
    border-bottom:2px solid #ecf0f2;
    padding:20px 0;
}
.home-content p{
    font-size:25px;
    color:#ecf0f2;
}


.cd-container {
    width: 90%;
    max-width: 768px;
    margin: 0 auto;
}
.cd-container::after {
    /* clearfix */
    content: '';
    display: table;
    clear: both;
}

.profile-pic{
  text-align: center;
}

.home-main-content {
    position: relative;
    height: 100%;
    overflow: hidden;
    background-color: #3a393f;
    /* slightly visible only when we resize this element */
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.8);
    z-index: 1;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.home-main-content.move-out {
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -o-transform: scale(0.6);
    transform: scale(0.6);
}
.no-js .home-main-content {
    height: auto;
    overflow-x: auto;
    overflow-y: auto;
}



@media only screen and (min-width: 768px) {
    .cd-header {
        height: 80px;
    }
}


#saved-title{
  text-align: center;
  margin-bottom: 3%;
}

.main-email{
  letter-spacing:3px;
  text-align: center;
}


.back{
  margin-top: 3%;
}

.center-button{
  text-align: center;
}


.save-link{
    margin-bottom: 1%;
    font-size: 22px;
    list-style-type: none;
    text-align: center;
}



.save-link:hover{
	font-size: 24px;
}

.container{
  text-align: center;
  margin: 0 auto;
}


/* Style the list items */
#myUL, .individual-li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;

    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
#myUL, .individual-li:nth-child(odd) {
    background: #f9f9f9;
}

/* Darker background-color on hover */
#myUL, .individual-li:hover {
    background: #ddd;
}

  #myUL{
    width: 90%;
    margin: auto;
  }

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}

.close:hover {
    background-color: #f44336;
    color: white;
}

.header {
    background-color: #f44336;
    padding: 30px 40px;
    color: white;
    text-align: center;
}

.header:after {
    content: "";
    display: table;
    clear: both;
}



.addBtn:hover {
    background-color: #bbb;
}


.delete-icon{
  float: right;
}
