body{
  background-image: url(https://www.homeadvisor.com/images/consumer/hhi/hero-photos/city/SanFrancisco.jpg);
  background-size: cover;
  background-repeat: no-repeat;

}

.signup{
  text-align: center;
  margin-top: 10%;
}

.email{
  padding: 1%;
  width: 25%;
  margin: 2px;

}

.password{
  padding: 1%;
  width: 25%;
  margin: 2px;

}

.name{
  padding: 1%;
  width: 25%;
  margin: 2px;
}

.button{
  margin-top: 1%;
  background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }


  .profile-pic{
  text-align: center;

}

.beth{
  border-radius: 100%;
}

.info{
  text-align: center;
  margin-top: 1%;
}
.profile{

        width: 80%;
        margin: 0 auto;
        text-align: center;
        margin-top: 10%;
}
.log{
  color:white;
}

.saved{
  text-align: center;
}
