.signup{
  text-align: center;
  margin-top: 10%;
}

.email{
  padding: 1%;
  width: 25%;
  margin: 2px;

}

.password{
  padding: 1%;
  width: 25%;
  margin: 2px;

}

.name{
  padding: 1%;
  width: 25%;
  margin: 2px;
}

.button{
  margin-top: 1%;
  background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
