<!DOCTYPE html>
<html>
  <head>
    <title>News Bud | Fully Customizable News Reader</title>
    <%= csrf_meta_tags %>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  	<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">

  </head>


<% if current_user %>
  <header>
		<h2><a href="/">News Bud</a></h2>
		<nav>
      <li><a href="/sources">Your Feed</a></li>
			<li><a href="/logout">Logout</a></li>
			<li><a href="/profile">profile</a></li>
		</nav>
	</header>
  <% else %>
  <header>
		<h2><a href="/">News Bud</a></h2>
		<nav>
			<li><a href="/login">Login</a></li>
			<li><a href="/signup">Signup</a></li>
		</nav>
	</header>
  <%end%>

  <body>
    <%= yield %>
  </body>
</html>
